body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: rgb(0, 0, 61);
}
header, main, footer{
    /*Centrerar innehållet*/
    max-width: 300px;
    margin: 0 auto;
    
    padding: 0.5rem;
    background-color: lightgray;
    border-left: 10px darkblue solid;
    box-shadow: darkgray 4px 4px;
}
a{
    text-decoration: none;
    /*Tar bort länkdekorationer som krockar med CSS för knappar*/
}
input[type=submit], button{
    color:white;
    background-color: rgb(0, 0, 61);
    /*Tar bort ramen*/
    border-style: hidden; 
    padding: 1rem;
    font-weight: bolder;
    /*Gör om inlineelement till block så att det går att centrera*/
    display: block;
    margin: auto;
}
input[type=submit]:hover, button:hover{
    background-color: rgba(0, 0, 61, 0.788);
}
input[type=submit]:active, button:active{
    background-color: rgba(0, 0, 61, 0.267);
}